<%= form_for @library do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "Library Name" %>
  </div>
  <div>
    <%= f.number_field :floor_count, placeholder: "Floor Count" %>
  </div>
  <div>
    <%= f.number_field :floor_area, placeholder: "Floor Area" %>
  </div>
  <%= f.submit "Save Library" %>
<% end %>
