<h1>Become a Member</h1>

<%= form_for @member do |f| %>
  <div>
    <%= f.label "First Name" %>
    <%= f.text_field :first_name, placeholder: "First Name" %>
  </div>
  <div>
    <%= f.label "Last Name" %>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div>
  <div>
    <%= f.label "Email" %>
    <%= f.email_field :email, placeholder: "Email" %>
  </div>
  <div>
    <%= f.label "Password" %>
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
  <div>
    <%= f.submit "Sign Up" %>
  </div>

<% end %>
